.header-color{
    background-color: rgb(245, 237, 236);
}
.shop-card{
    border: 0;
}
.shop-card-footer{
    background-color: white;
    border: 0;
}
.font-family1{
    font-family: 'Abril Fatface', cursive;
}
.card-img-center{
    width: 90%;
    align-self: center;
    margin-top: 15px;
    border-radius: 15px;
    background-color: lightgrey;
    background-image: linear-gradient();
}
p{
    color: #999;
    line-height: 25px;
}
h2,h3{
    color: #fff;
}
h2{
    font-size: 18px;
}
.footer-top{
    background: #111;
    padding: 40px 0;
}
.segment-one h3{
    font-family: Courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two h2{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.segment-two h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}
.segment-two ul li a{
    color: #999;
    text-align: none;
}
.segment-three h2{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.segment-three h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}
.segment-four h2{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.segment-four h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-four from input [type=submit]{
    background: #c65039;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
}
.footer-bottom-text{
    text-align: center;
    background: #000;
    line-height: 75px;
}
@media only screen and (min-width :768px) and (max-width :991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 0;
    }
}